* {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

:root {
  --background-color: #f4f1de;
  --text-color1: #3d405b;
  --accent-color1: #e07a5f;
  --accent-color2: #81b29a;
}

html {
  background-color: var(--background-color);
  color: var(--text-color1);
}

#title {
  text-align: center;
  font-size: 4rem;
  margin-top: 10px;
}

h2 {
  font-size: 2rem;
}

button {
  font-size: 1.3rem;
  color: var(--text-color1);
  padding: 3px;
}

.game {
  display: flex;
  justify-content: space-evenly;
}

.left {
  width: 55%;
  text-align: center;
}

.left h2 {
  margin: 30px auto 10px;
}

.upgrades-pane {
  background-color: var(--accent-color1);
  width: 100%;
  height: 65%;
  margin-top: 5px;
  overflow-y: auto;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  border: 2px solid var(--text-color1);
}

td {
  font-size: 1.05rem;
  padding: 5px 0;
}

tbody th {
  font-size: 1.1rem;
}

.header_title {
  width: 8rem;
}

.header_count {
  width: 4rem;
}

.header_owned {
  width: 4.5rem;
}

.header_cost {
  width: 3rem;
}

.header_buy {
  width: 3.5rem;
}

.header_active {
  width: 4rem;
}

.upgrade {
  border: 2px solid var(--text-color1);
  padding: 3px;
  margin-bottom: 2px;
}

.upgrade button {
  padding: 10px 5px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(173, 173, 173);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: var(--background-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: rgb(14, 146, 255);
}

.slider-on {
  cursor: pointer;
}

input:checked + .slider:before {
  transform: translateX(16px);
  -ms-transform: translateX(16px);
  -webkit-transform: translateX(16px);
}

.right {
  width: 35%;
  text-align: center;
  position: sticky;
  top: 0%;
  height: fit-content;
}

#stats {
  padding: 30px 0px 0px 0px;
}

#stats p {
  margin-bottom: 5px;
}

#served {
  margin-top: 30px;
}

#serve {
  font-size: 3rem;
  margin-top: 20px;
}

.hidden {
  display: none;
}

.selected {
  color: blue;
  background-color: cornflowerblue;
  border-radius: 3px;
}

@media (max-width: 800px) {
  html {
    font-size: 95%;
  }

  .game {
    flex-direction: column-reverse;
    align-items: center;
  }

  .left,
  .right {
    width: 90%;
  }

  .right {
    position: static;
  }
}
