* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

:root {
  --background_color: #1e1e1e;

  --text_color1: #acacac;
  --text_color_highlight1: #9872a2;
  --text_color_highlight2: #6089b4;

  --color1: #8080ff;
  --color2: #408080;
  --color3: #4545454f;
  --text_color1_translucent: #acacaca6;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3rem;
  color: var(--text_color_highlight1);
  padding: 10px 0;
}

h2,
h3 {
  color: var(--text_color_highlight2);
}

p,
li {
  font-size: 1.2rem;
  color: var(--text_color1);
  line-height: 1.5em;
}

a {
  color: var(--color1);
}

a:hover {
  color: var(--text_color_highlight2);
}

strong {
  color: var(--color2);
}

html {
  background: var(--background_color);
}

.small {
  font-size: 0.7rem;
}

.section_title {
  padding-left: 10%;
}

.section_title h1 {
  text-align: left;
}

.section_title .line {
  margin-left: 0;
  width: 90%;
  border: none;
  background: linear-gradient(
    90deg,
    var(--text_color1_translucent),
    var(--background_color)
  );
  height: 5px;
}

#navbar {
  height: 3rem;
  width: 100%;
  background-color: var(--color3);
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
}

.nav-links a {
  font-size: 1.5em;
  margin: 7.5px 20px;
  text-decoration: none;
}

#navbar.sticky {
  position: fixed;
  opacity: 95%;
}

.section {
  height: calc(70rem - 1.5rem);
  width: 70vw;
}

#welcome-section {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

#welcome-section h1 {
  padding-bottom: 5px;
  font-size: 6rem;
}

#descriptors {
  opacity: 75%;
}

#about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.line {
  border: 2px solid var(--text_color1);
  width: 50%;
  margin: 10px auto;
}

#about-me p,
li {
  font-weight: 500;
  color: var(--text_color1);
}

#about-me p {
  margin: 5px 15%;
  text-indent: -5%;
}

#about-me li {
  margin: 5px 35px 5px 0px;
  list-style-type: circle;
}

#skills {
  display: flex;
  flex-wrap: wrap;
  margin-left: 14%;
}

#projects {
  height: fit-content;
}

.projects_content {
  height: 95%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.project-wrapper {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.project_content_container {
  width: 75%;
  background-color: var(--color3);
  border-radius: 10px;
  height: fit-content;
}

.project_content_container h2 {
  text-align: center;
  margin: 10px auto;
  font-size: 2rem;
}

.project_content_container p {
  padding: 5px 5%;
  text-align: center;
}

.project-image {
  height: 15em;
  border-radius: 5px;
  filter: grayscale(80%);
  transition: all 0.2s ease-in-out;
}

.project-image:hover {
  filter: none;
}

.image-border {
  /* position: relative; */
  padding: 3px;
  padding-bottom: 0;
  background: linear-gradient(270deg, rgb(255, 63, 63), 25%, rgb(14, 139, 197));
  border-radius: 5px;
  margin-right: -10%;
  margin-left: 5%;
  margin-top: 20px;
}

.two-image {
  display: block;
  margin-right: -10%;
  margin-left: 5%;
  height: 25em;
}

.two-image .image-border {
  position: relative;
  margin: 0;
}

.image-first {
  top: 2em;
  left: 60px;
}

.image-second {
  bottom: 6em;
  left: 0px;
}

#contacts {
  height: 50vh;
}

#contacts p {
  text-align: center;
  padding: 10px;
}

.social-links,
.social-icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.3rem;
  width: 60%;
  margin: 30px auto;
}

.social-icon {
  height: 50px;
}

@media (max-width: 600px) {
  html {
    font-size: 80%;
  }
}

@media (max-width: 1200px) {
  .project-wrapper {
    flex-direction: column;
    margin-bottom: 30px;
  }

  .project_content_container {
    width: 90%;
  }

  .section {
    height: calc(70rem - 1.5rem);
    width: 90vw;
  }

  .two-image {
    margin-left: -30px;
    margin-right: 0;
  }

  .image-border {
    margin-left: 0;
    margin-right: 0;
    margin-top: 30px;
  }
}
